$midightblue: #1f2b5a;
$darkslateblue: #394783;
$lavender: #e7e9f3;
$silver: #b6b6b6;
$ghostwhite: #fafbfc;
$slategray: #616c9c;
$white: #ffffff;
$whitesmoke: #f3f3f3;
$darkgray: #adadad;
$darkslategray: #3a3a3b;
$gainsboro: #d4d9e3;
$dimgray: #585858;
$lightgray: #c7c8d0;
$lightbluegray: #ced2e0;
$lightred: #DCC2C2;
$overlayblack: rgba(0,0,0,0.3);