$midightblue: #1f2b5a;
$darkslateblue: #394783;
$lavender: #e7e9f3;
$silver: #b0b6c9;
$ghostwhite: #fafbfc;
$slategray: #616c9c;
$white: #ffffff;
$whitesmoke: #f3f3f3;
$darkgray: #adadad;
$gainsboro: #d4d9e3;
$dimgray: #585858;